

.container {
  position: relative;
  width: 100%;
}

 /* background image */
.bgImage {
  position: fixed;
  width: 100%;
  height: auto;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0.15;
}

 /* BOX JERSEYS FETCH MODULE */
/* .prevCarrer {        
  position: relative;
  width: 95%;
  height: 600px;
  left: 2.5%;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  overflow: auto;
  border-radius: 20px;
} */

  
 .panelAwards  {
   position: relative;
   top: 30px;
   width: 100%;
 }

 .TnMajster {
   position: relative;
   width: 40%;
   top: 30px;
   border-radius: 10px;
 }

 .AKcup {
   position: relative;
   top: -40px;
   width: 50%;
 }


   /* DOTS */
   .dots {
     font-size: 7rem;
     text-align: center;
  }

 .teamsaward {
   position: relative;
   width: 60%;
   left: 20%;
 }

 .panelindividawards {
  position: relative;
  width: 100%; 
 }

 /*  first row */
 .duklamedaile {
  position: relative;
  width: 70%;
  left: 15%;
  top: 60px;
  display: flex;
  justify-content: space-evenly;
 }
 

   /* MEDAILE */
 .medaileImages {
   width: 50%;
 }
  
 .medaileImages:hover {
  transform: scale(1.5);
 }

 .silver, .gold, .brondz {
   width: 35%;
   text-align: center;
 }

 .imggold, .imgsilver, .imgbrondz {
   overflow: hidden;
 }

 .goldmedail {
   width: 50%;
   transform: scale(2.5);
 }

 .goldmedail:hover {
   transform: scale(3.5);
 }

 
  /* CERTIFICATE */
   .onehalfrow {
    position: relative;
    width: 70%;
    left: 15%;
    top: 30%;
    padding: 20px;
    text-align: center;
   }

   .certificateImage {
     width: 600px;
   }

   .linkFastScore {
     position: relative;
     top: 18px;
     margin-left: 15px;
     border: 1px solid rgb(4, 4, 165);
     border-radius: 6px;
     padding: 10px;
     color: rgb(5, 5, 136);
   }

  /* SECOND ROW ALASKA GLASS AWARD */
  .alaskaAwards {
    position: relative;
    width: 70%;
    left: 15%;
    top: 30%;
    padding: 20px;
    text-align: center;
  }
    
    /* GLASS AWARDS */
  .glassAwards {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
  }

  .glassAwardsAlaska {
    width: 200px;
    height: auto;
  }

  .firstTeam, .sportmanShip, .performance {
    width: 20%;
  }

  /* 3rd  ROW  BUUBLE-HEAD */
  .thirdrow {
    position: relative;
    width: 70%;
    left: 15%;
    display: flex;
    top: 30%;
    padding: 20px;
    text-align: center;
  }

   .bubble-head, .bubble-stats, .fun-fuct {
     width: 40%;
   }


  /* prvy panel dresov */
  .panel {
    position: relative;
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    height: 300px;
    left: 5%;
    padding: 15px;
  }
 

.paneldresu {
  width: 12rem;
  height: 12rem;
  margin: 20px;
}


.dres {
  position: relative;
  width: 12rem;
}


.logoteamu {
  position: relative;
  width: 3.2rem;
  height: 3.2rem;
  left: 37%;
  z-index: 200;
  top: -82%;
}

 /* show stats and img */
.modal {
  position: fixed;
  width: 80%;
  height: 50%;
  left: 10%;
  top: 150px;
  letter-spacing: 0.5px;
  display: flex;
  background-color: rgb(202, 202, 223);
  z-index: 99999;
  border: 2px solid blue;
  border-radius: 18px;
  padding: 15px;
  overflow: hidden;
  visibility: hidden;
}

/* close btn modal */
.closebtn {
  position: fixed;
  left: 87%;
  font-size: 2rem;
}

.showit {
  visibility: visible;
  z-index: 4545545454;
}

.textbox {
  position: relative;
  width: 48%;
  margin: 3rem;
  text-align: center;
}

.pictbox {
  position: relative;
  width: 48%;
}
 



 /* parent / for fetch*/
.logo {
  position: relative;
  width: 10rem;
  height: 10rem;
  top: 40px;
  background-color: rgb(117, 32, 32);
  margin: 1px;
}

 /* children with 100% height and width */
.dress {
  position: relative;
  width: 10rem;
  height: 10rem;
}

.logoteams {
  position: relative;
  width: 3rem;
  height: 3rem;
  left: 35%;
  z-index: 200;
  top: -80%;
}

/* PICTURES IN MODAL ******  */

/*   LM, ZLIN, BRIDG, KOMETS */
.ImgModal2 {
  width: 400px;
}

.zaImg, .alaskaImg {
  width: 300px;
}

.ZV, .abbotsImg, .StockImg {
  width: 550px;
}

/*  SD, TULSA, RAPD, ORLD, UTAH, SHARK, SF, TN, PN, DUBN */
.ImgModal {
  width: 500px;
}














