
.container {
  position: relative;
  width: 100%;
  height: 100vh;
}

 .panelprojektov {
   position: relative;
   width: 90%;
   left: 5%;
   top: 5%;
   display: flex;
   flex-wrap: wrap;
   justify-content: space-around;
 }

.boxprojectov {
  position: relative;
  width: 220px;
  height: 220px;
  color: rgb(216, 231, 241);
  padding-top: 80px;
  margin: 10px;
  font-size: 45px;
  font-family: 'Times New Roman', Times, serif;
  cursor: pointer;
  text-align: center;
  align-items: center;
  border-radius: 50%;
  border: 2px solid blue;
  background: radial-gradient(circle at 100px 100px, #5cabff, #000);
}

.boxprojectov:active {
  transform: scale(0.98);
}

















